# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular languages for Data Science
+ Commonly used libraries used by Data Scientists
+ Data Science tools
+ Arithmetic expression examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java
5. C++
6. Swift
7. Go
8. SQL
9. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas
4. Plotly
5. Seaborn
6. Scikit-Learn
7. PyCaret
8. TensorFlow
9. PyTorch

|Data Science Tools|
| -------------|
| Jupyter Notebook |
| R Studio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author: 
Josué Quirós Batista